
body {
    background-color: black;
    color: gray;
}
.logocenter{
    width: 60%;
}
.modal-content{
    background-color: #1E7E85;
    color: white;
}

.modal-content a{
    font-weight: bold;
    color: #FAA61F ;
}