{% extends 'base.html.twig' %}

{% block title %}à propos{% endblock %}
{% block body %}
<div class="row">
    <div class=" text-center col-lg-12">
        <!-- <img class="logocenter img-fluid" src="asset/LA_WA_BO.png" alt="logo La Web Agency"> -->
        <div id="aboutme" >
            <h1>me my sef and I</h1>
            <img src="asset/MoiCV2.jpg" alt="phot aurelien latieule">
            <p>tel des mentos dans une bouteille de coca light  <br> j'allie mon oeil de linx et mes capacités techniques, <br> pour tout fair péter !!</p>
            <a href="https://www.la-projets.yo.fr/">Mon site durant mes études</a>
        </div>
    </div>
</div>
{% endblock %}