{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="top-banner">
        <div class="top-banner-overlay">
            <h1>Agence Web</h1>
            <h2>Création de sites & Infographies</h2>
        </div>
    </section>
{% endblock %}