{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <section class="top-banner row">
     <div class="top-banner-overlay titlemobil col-lg-12">
                    <h1>Création Web</h1>
                    <h2>Sites & Infographies</h2>
                </div>
        <div id="container">
             <div class="slide one">
                <div class="top-banner-overlay slide four">
                    <h1>Création Web</h1>
                    <h2>Sites & Infographies</h2>
                </div>
             </div>
             <div class="slide two">
             
            </div>
            <div class="slide three">
                
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}<script src="../js/parallax.js" ></script>{% endblock %}