{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
    <section class="top-banner row">
     <div class="top-banner-overlay titlemobil col-lg-12">
                    Le site lawebagency.net est la propriété d'Aurélien Latieule,  le siège est basé au 22 quater, rue du Barry, 11170 PEZENS.

                        N° Siret : 853 910 446 00014
                        Responsable de la publication : Aurélien Latieule.

                        Le site internet est hébergé par <a href="https://www.planethoster.com/fr/" target="_blank">Planethoster</a>.

                        Vous pouvez nous contacter par téléphone au 06 22 07 27 51 ou par email à <a href="mailto:aurelien@lawebagency.net">aurelien@lawebagency.net</a>
                </div>
        <div id="container">
             <div class="slide one">
                <div class="top-banner-overlay slide four">
                    <section>
                        Vous pouvez nous contacter par téléphone au 06 22 07 27 51 ou par email à <a href="mailto:aurelien@lawebagency.net">aurelien@lawebagency.net</a>

                    </section>
                </div>
             </div>
             <div class="slide two">
             <div class="top-banner-overlay slide four">
                    <section>                   
                        Le site internet est hébergé par <a href="https://www.planethoster.com/fr/" target="_blank">Planethoster</a>.
                        Responsable de la publication : Aurélien Latieule.
                    </section>
                </div>
             
            </div>
            <div class="slide three">
            <div class="top-banner-overlay slide four">
                    <section>
                        <p>Le site lawebagency.net est la propriété d'Aurélien Latieule,  le siège est basé au 22 quater, rue du Barry, 11170 PEZENS.N° Siret : 853 910 446 00014</p>

                    </section>
                </div>
                
            </div>
        </div>
    </section>
{% endblock %}
{% block javascripts %}<script src="../js/parallax.js" ></script>{% endblock %}