{% extends 'base.html.twig' %}

{% block title %}mon travail{% endblock %}
{% block body %}
<div id="project" class="row top-banner">
    <div class="CartCarding">
        <div class=" text-center col-lg-12">
            <h1>Mes réalisation :</h1>
        </div>
        <div class="cardingtext-center col-lg-2">
            <div >
                <section>
                        <img src="{{asset('asset/killybegs.jpg')}}" class="card-img-top" alt="logo killybegs le groupe">
                        <div class="card-body">
                            <h5 class="card-title">Killybegs, groupe de musique</h5>
                            <p class="card-text">Site en Wordpress, conception visuel et rédaction.</p>
                            <a href="https://killybegs.band/" target="_blank" class="btn btn-primary">le site</a>
                        </div>
                </section>
            </div>
        </div>
    </div>
</div>
{% endblock %}