
html {
    scroll-behavior: smooth;
  }
body {
    background-color: black;
    color: gray;
    font-family: 'Staatliches', cursive;
    width: 100vw;
}
header{
  z-index: 5000;
}

footer{
  bottom: 100vh;
}

.modal-content{
    background-color: #1E7E85;
    color: white;
}

.modal-content a{
    font-weight: bold;
    color: #FAA61F ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
    font-family: 'McLaren', cursive;
    color: white;
  }
  
  button:active {
    color: black;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-family: 'McLaren', cursive;
    cursor: pointer;
  }
  #cvPage{
    margin-left: 105px;
  }

  #cvPage h1, #cvPage h2{
    color: #FAA61F;
  }

  .mentions{
    font-size: 0.8rem;
  }
  .BoWall{
    height: 100%;
    padding: 20px;
    background: #FAA61FCC;
    box-shadow: 0 0 10px black;
    color: gray;
  }
  
  /* .top-banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.top-banner {
    display: flex;
    height: 100vh;
    padding: 20px;
    background: url(https://picsum.photos/1920/1080?random=) no-repeat center / cover;
}
  
  .top-banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    transition: transform .7s;
    color: white;
    background: rgba(0, 0, 0, .7);
  }
  
  /* .top-banner-overlay.is-moved {
    transform: translateX(200px);
  } */
  
  .top-banner-overlay p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .top-nav li + li {
    margin-top: 7px;
  }
  .menuFix{
    margin-top:100%;
  }
  
  /* .menu-wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-nav .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 135px;
    height: 63px;
    padding: 10px;
    transform: translateX(-200px);
    transition: transform 1s;
    background: #FAA61FCC;
    box-shadow: 0 0 10px black;
    display: none;
  }
  
  .top-nav .menu-wrapper.is-opened {
    transform: translateX(0px);
  }
  
  .top-nav .menu-wrapper .menu {
    opacity: 0;
    transition: opacity .4s;
  }
  
  .top-nav .menu-wrapper.is-opened .menu {
    opacity: 1;
    transition-delay: .6s;
  }
  
  .top-nav .menu-wrapper .menu a {
    font-size: 1.2rem;
  }
  
  .top-nav .menu-wrapper .sub-menu {
    padding: 10px 0 0 7px;
  }
  
  .top-nav .menu-wrapper .menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.6rem;
    color:white;
  }

  .top-nav .menu{
    margin-top: 100%;
  }
  
  
  /* .fixed menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .top-nav .fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 135px;
    padding: 20px;
    background: #0C676Ecc;
    box-shadow: 0 0 10px black;
    z-index: 1002;
  }
  
  .top-nav .fixed-menu .menu-open {
    font-size: 1.8rem;
    text-align: left;
    margin: 50% 0 auto;
    width: 28px;
    color: white;
    display: none;
  }
  #aboutmeCV{
    height: 100%;
    padding: 20px;
    background: #FAA61FCC;
    box-shadow: 0 0 10px black;
    color: lightgray;
  }
  .CvFixed img{
    width: 40%;
    max-width: 150px;
  }
  #gototop {
    position: relative;
    
  }
  #gototop .fa{
    font-size: xx-large;
    color: #FAA61F;
  }
  #myCV{
    font-family: 'ubuntu', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    color: lightgray;
    text-transform: uppercase;
  }
  #myCV h3{
    font-size: 1rem;
    font-weight: 800;
    color: white;
  }
  #project {
    background-color: darkcyan;
    color: darkseagreen;
  }
  .CartCarding{
    margin-left: 135px;
  }
  .carding{
    background-color: #ffffff99;
    border-radius: 5px;
    margin: 1%;
    color: rgb(255, 255, 255);
  }

  .carding img{
    margin-top: 12px;
    max-height: 225px;
    width: auto;
    max-width: 250px;
  }
  
  #contact {
    padding: 20px;
    background-color: goldenrod;
  }
  .btnEnv{
    background-color: goldenrod;
    padding: 1%;
    color:white;
  }
   /*  parallaxe */

   #container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }

  #myWork select, #myWork input{ 
    background-color: #1E7E85;
    color: white;
    border: 0;
    height: 38px;
    border-bottom: 2px solid #1E7E85;
  }
  #myWork button{ 
    background-color: #1E7E85;
    color: white;
    border: 0;
    border-radius: 0;
    border-top: 2px solid #1E7E85;
  }
  #myWork section button, #myWork section a{ 
    background-color: #FAA61FCC;
    color: white;
    border: 0;
    border-radius: .25rem;
  }
  #myWork input::placeholder {
    color: white;
  }
  
  .slide{
    display: block;
    position: relative;
    left: 15%;
    top: 0;
    height: 250px;
    width: 200px;
    background: #FAA61FCC;
    box-shadow: 0 0 10px black;
  }
  
  .two {
    left: 30%;
    top: 20%;
    background: #FAA61FCC; 

  }
  .three {
    left: -35%;
    top: -20%;
    background: #FAA61FCC; 
   
  }
  .four{
    color: white;
    background: rgba(0, 0, 0, .7);
    height: 150px;
    width: 300px;
    top: 15%;
  }
  .logocenter{
    width: 70px;
    filter: drop-shadow(0 0 2px black);
    position: absolute;
    top: 0;
    left: 0;
    margin: 5%;
}
.logoAbout{
  width: 25%;
  filter: drop-shadow(1 1 2px black);

}
.titlemobil{
  display: none;
}

/* flash messages */
.alert-dismissible{
  text-align: center;
  height: 48px;
}
.alert-dismissible button{
  color: green;
}
.followMe img{
  height:30px;
}

@media (max-width: 1230px) {
  
}
@media (max-width: 1000px) {
  .two, .one, .three, #container {
    display: none;
  }
  .titlemobil {
    display: block;
    width: 100%;
}
  h1 {
    font-size:2rem;
  }
  h2 {
    font-size:1.4rem;
  }
  #cvPage {
    margin-left: 0;
  }

  .top-nav .fixed-menu {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    width: 100vw;
    background: #0C676Ecc;
    box-shadow: 0 0 10px black;
}
.top-nav .menu-wrapper {
  height: 100%;
  background: #FAA61F;
  z-index: 1003;
  display: block;
}
.menuFix{
  display: none;
}
.top-nav .fixed-menu .menu-open {
  font-size: 3rem;
  margin: 0 45% auto;
  color: white;
  display: inline;
}

.CartCarding {
  margin-left: 0;
}
}
@media (max-width: 680px) {
  .CV {
    display: none;
  }
  
}
@media (max-width: 600px) {
  h1 {
    font-size:1.8rem;
  }
  h2 {
    font-size:1.20rem;
  }
  
.top-nav .menu {
  margin-top: 50%;
}
  .top-banner-overlay.is-moved {
    transform: translateX(0px);
}
}