{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div id="contact" class="row top-banner">
        <div class="col-xl-5 CartCarding" >
        <h1>Contact</h1>
        <p>Envoyez moi votre demande</p>
            {# <p>Vous pouvez me contacter par Mail : </p>
            <a href="mailto:aurelien@lawebagency.net">aurelien@lawebagency.net</a>
            <p>ou#}par téléphone</p>
            <a href="tel:0622072751">
                <p>06.22.07.27.51</p>
            </a> 
                <div>
                <p>par message</p>
                {{ form_start(our_form) }}
                {{ form_widget(our_form) }}
                <button class="btnEnv" type="submit"  >Envoyer</button>
                {{ form_end(our_form) }}
                </div>

        </div>
    </div>
{% endblock %}