
html {
    scroll-behavior: smooth;
  }
body {
    background-color: black;
    color: gray;
    font-family: 'Staatliches', cursive;
    width: 100vw;
}
header{
  z-index: 5000;
}

footer{
  botton: 100vh;
}

.modal-content{
    background-color: #1E7E85;
    color: white;
}

.modal-content a{
    font-weight: bold;
    color: #FAA61F ;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  ul {
    list-style: none;
  }
  
  button {
    border: none;
    background: transparent;
    outline: none;
    cursor: pointer;
  }
  
  button:active {
    color: black;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-family: 'McLaren', cursive;
    cursor: pointer;
  }

  .mentions{
    font-size: 0.8rem;
  }
  
  /* .top-banner
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.top-banner {
    display: flex;
    height: 100vh;
    transform: translateX(135px);
    background: url(https://picsum.photos/1920/1080?random=) no-repeat center / cover;
/*    background: url(../asset/octopus_2560x1600.jpg) no-repeat center / cover;
 */ }
  
  .top-banner-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 350px;
    padding: 20px;
    transition: transform .7s;
    color: white;
    background: rgba(0, 0, 0, .7);
  }
  
  .top-banner-overlay.is-moved {
    transform: translateX(200px);
  }
  
  .top-banner-overlay p {
    font-size: 1rem;
    margin-top: 10px;
  }
  
  .top-nav li + li {
    margin-top: 7px;
  }
  
  
  /* .menu-wrapper
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .top-nav .menu-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 135px;
    height: 63px;
    padding: 10px;
    transform: translateX(-200px);
    transition: transform 1s;
    background: #FAA61FCC;
    box-shadow: 0 0 10px black;
    z-index: 1001;
    
  }
  
  .top-nav .menu-wrapper.is-opened {
    transform: translateX(0px);
  }
  
  .top-nav .menu-wrapper .menu {
    opacity: 0;
    transition: opacity .4s;
  }
  
  .top-nav .menu-wrapper.is-opened .menu {
    opacity: 1;
    transition-delay: .6s;
  }
  
  .top-nav .menu-wrapper .menu a {
    font-size: 1.2rem;
  }
  
  .top-nav .menu-wrapper .sub-menu {
    padding: 10px 0 0 7px;
  }
  
  .top-nav .menu-wrapper .menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.6rem;
    color:white;
  }

  .top-nav .menu{
    margin-top: 100%;
    z-index: 1005;
  }
  
  
  /* .fixed menu
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .top-nav .fixed-menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    width: 135px;
    padding: 20px;
    background: #0C676Ecc;
    box-shadow: 0 0 10px black;

  }
  
  .top-nav .fixed-menu .menu-open {
    font-size: 1.8rem;
    text-align: left;
    margin: 50% 0 auto;
    width: 28px;
    color: white;
  }

  #aboutme {
    padding: 20px;
    background-color:#FAA61F;
    margin-left: 135px;
  }
  #project {
    margin-left: 135px;
    padding: 20px;
    background-color: darkcyan;
    color: darkseagreen;
  }

  #contact {
    margin-left: 135px;
    padding: 20px;
    background-color: goldenrod;
  }
   /*  parallaxe */

   #container{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 
  }
  
  .slide{
    display: block;
    position: relative;
    left: 0;
    top: 0;
    height: 250px;
    width: 200px;
    background: #FAA61FCC; 
    box-shadow: 0 0 10px black;
  }
  
  .two {
    left: 20%;
    top: 20%;
  }
  .three {
    left: -50%;
    top: -15%;
  }
  .logocenter{
    width: 70px;
    filter: drop-shadow(0 0 5px black);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3002;
    margin: 5%;
}
.titlemobil{
  display: none;
}

@media (max-width: 1230px) {
  .three {
    display: none;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size:1.3rem;
  }
  h2 {
    font-size:1.0rem;
  }
  .two, .one, #container {
    display: none;
  }
  .titlemobil{
    display: block;
  }
  .top-banner-overlay.is-moved {
    transform: translateX(0px);
}
}