<footer>
    <ul class="socials">
        <li>
            <div class="row mentions">
                <div class=" text-center col-lg-12">
                    <p> © Copyright Latieule Aurélien 2019 / images :
                    <a href="https://picsum.photos/" target="_blank"> picsum photos</a></p>
                    <a href="{{ path('mentions') }}">Mentions Légales</a>
                </div>
            </div>
        </li> 
    </ul>
</footer>