<footer>
    <ul class="socials">
        <li>
            <div class="row mentions mt-1">
             <div  class=" text-center col-sm-1 ">
                    
                </div>
                <div class=" text-center col-sm-10 followMe">
                    <p> © Copyright Latieule Aurélien 2020 / <a href="https://www.facebook.com/La-Web-Agency-103116891147836/s" target="_blank">
                        <img alt="Facebook"  src="{{asset('asset/FB-rond.svg')}}"/>
                    </a> /images :
                    <a href="https://picsum.photos/" target="_blank"> picsum photos</a></p>
                    <a href="{{ path('mentions') }}">Mentions Légales</a>
                </div>
                <div id="gototop" class=" text-center col-sm-1 ">
                    <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
                </div>
            </div>
        </li> 
    </ul>
</footer>