<footer>
    <ul class="socials">
        <li>
            <div class="row mentions mt-1">
                <div class=" text-center col-sm-11 ">
                    <p> © Copyright Latieule Aurélien 2019 / images :
                    <a href="https://picsum.photos/" target="_blank"> picsum photos</a></p>
                    <a href="{{ path('mentions') }}">Mentions Légales</a>
                </div>
                <div id="gototop" class=" text-center col-sm-1 ">
                    <a href="#top"><i class="fa fa-arrow-circle-up"></i></a>
                </div>
            </div>
        </li> 
    </ul>
</footer>