{% extends 'base.html.twig' %}

{% block title %}Edit Works{% endblock %}

{% block body %}
    <h1>Edit Works</h1>

    {{ include('works/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('works_index') }}">back to list</a>

    {{ include('works/_delete_form.html.twig') }}
{% endblock %}
